@import url('https://fonts.googleapis.com/css2?family=Borel&family=Poppins:ital,wght@0,200;0,300;0,700;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: poppins, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;

}

body{
    background-color: #614BC3;

}

.container{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;

}

.container p{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}

.container input{
    width: 100%;
    height: 50px;
    border: 1px solid #85E6C5;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}

.container button{
    width:100%;
    height: 50px;
    background-color: #33BBC5;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1)  ;
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
}

#qrdisplay{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;

}

#qrdisplay img{
    width: 100%;
    padding: 10px;

}

#qrdisplay.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #C8FFE0;

}

.container input.error {
    border: 1px solid red;
  }

.error{
    animation:  shake 0.1s linear 5;
}

@keyframes shake{
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0);
    }
    60%{
        transform: translateX(-10px);
    }
    80%{
        transform: translateX(0);
    }
    90%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0);
    }
}